$color-main: #007ec3;

body {
	font-family: "Open Sans", sans-serif;
	color: #4d4643;
  }

  a {
	color: #1977cc;
	text-decoration: none !important;
  }
  
  a:hover {
	color: #3291e6;
	text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
  } 
 
//Utility--------------------------------------------------->

.flexing{
	display: flex;
    justify-content: center;
    align-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

.text-deco{
	text-decoration: none;
	//color:#fff;
}

.span-green{
	color:#53C20A;
}

.span-yellow{
	color:$color-main;
}

.span-white{
	color: #FFFFFF;
}
//Custom spacer---------------------->

@import "../scss/functions";
@import "../scss/variables";

$spacers: (

    6: ($spacer * 5)
);


@import "../scss/bootstrap";


//Navigation bar------------------------------------------->

.brand{
	color: $color-main !important;
	}
	
//Hero------------------------------------------------------>
#hero {
	width: 100%;
	height: 90vh;
	background: url("../images/cover1.jpg");
	background-size: cover;
	margin-bottom: -200px;
  }

  #hero .container {
	position: relative;
  }
  
  #hero h1 {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	text-transform: uppercase;
	color: #ffffff;
  }
  
  #hero h2 {
	color: #ffffff;
	margin: 10px 0 0 0;
	font-size: 24px;
  } 

  #hero .btn-get-started {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 35px;
	margin-top: 30px;
	border-radius: 50px;
	transition: 0.5s;
	color: #fff;
	background: #1977cc;
  }
  
  #hero .btn-get-started:hover {
	background: #3291e6;
  }

  @media (min-width: 1024px) {
	#hero {
	  background-attachment: fixed;
	}
  }
  
  @media (max-width: 992px) {
	#hero {
	  margin-bottom: 0;
	  height: 100vh;
	}
	#hero .container {
	  padding-bottom: 63px;
	}
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
	#hero h2 {
	  font-size: 18px;
	  line-height: 24px;
	  margin-bottom: 30px;
	}
  }
  
  @media (max-height: 600px) {
	#hero {
	  height: 110vh;
	}
  } 

.cover{
	//background-image:
	//linear-gradient(90deg, rgba(0,93,143,1) 0%, rgba(0,126,195,1) 35%, rgba(61,154,204,1) 100%);
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-headline-span__white{
	color: #FFFFFF;
}

.hero-headline-span__yellow{
	color:$color-main;
	
}

.hero-button{
	background-color:#53C20A;
	color: #FFFFFF;
	border : 0 !important;
	border-radius: 0 !important;
	
}


.card-footer {
    background-color: rgba(0, 0, 0, 0.0) !important;
}

.card-border__yellow{
	border: 1px solid $color-main;
}

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.custCard{
	border : 2px solid #53C20A;

}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f1f7fd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.why-us .icon-box {
	text-align: center;
	border: 1px solid #d5e1ed;
	padding: 80px 20px;
	transition: all ease-in-out 0.3s;
  }
  
  .why-us .icon-box .icon {
	margin: 0 auto;
	width: 64px;
	height: 64px;
	background: #1977cc;
	border-radius: 5px;
	transition: all .3s ease-out 0s;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	transform-style: preserve-3d;
  }
  
  .why-us .icon-box .icon i {
	color: #fff;
	font-size: 28px;
  }
  
  .why-us .icon-box .icon::before {
	position: absolute;
	content: '';
	left: -8px;
	top: -8px;
	height: 100%;
	width: 100%;
	background: #badaf7;
	border-radius: 5px;
	transition: all .3s ease-out 0s;
	transform: translateZ(-1px);
  }
  
  .why-us .icon-box h4 {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 24px;
  }
  
  .why-us .icon-box h4 a {
	color: #2c4964;
  }
  
  .why-us .icon-box p {
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
  }
  
  .why-us .icon-box:hover {
	background: #1977cc;
	border-color: #1977cc;
  }
  
  .why-us .icon-box:hover .icon {
	background: #fff;
  }
  
  .why-us .icon-box:hover .icon i {
	color: #1977cc;
  }
  
  .why-us .icon-box:hover .icon::before {
	background: #3291e6;
  }
  
  .why-us .icon-box:hover h4 a, .why-us .icon-box:hover p {
	color: #fff !important;
  }
  
//Services Mobile--------------------------->

.services-mobile{
	background-image: linear-gradient(90deg, rgba(0,93,143,1) 0%, rgba(0,126,195,1) 35%, rgba(61,154,204,1) 100%);
}
/*--------------------------------------------------------------
# About-us
--------------------------------------------------------------*/
.about-us .content {
	padding: 30px;
	background: #1977cc;
	border-radius: 4px;
	color: #fff;
  }
  
  .about-us .content h3 {
	font-weight: 700;
	font-size: 34px;
	margin-bottom: 30px;
  }
  
  .about-us .content p {
	margin-bottom: 30px;
  }
  
  .about-us .content .more-btn {
	display: inline-block;
	background: rgba(255, 255, 255, 0.2);
	padding: 6px 30px 8px 30px;
	color: #fff;
	border-radius: 50px;
	transition: all ease-in-out 0.4s;
  }
  
  .about-us .content .more-btn i {
	font-size: 14px;
  }
  
  .about-us .content .more-btn:hover {
	color: #1977cc;
	background: #fff;
  }
  
  .about-us .icon-boxes .icon-box {
	text-align: center;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	padding: 40px 30px;
	width: 100%;
  }
  
  .about-us .icon-boxes .icon-box i {
	font-size: 40px;
	color: #1977cc;
	margin-bottom: 30px;
  }
  
  .about-us .icon-boxes .icon-box h4 {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 30px 0;
  }
  
  .about-us .icon-boxes .icon-box p {
	font-size: 15px;
	color: #848484;
  }
  
//About Us----------------------------------->

.card-aboutus{

	width: 233px;
	height: 205px;	
}

//Our team/Why us?-------------------------------------------->

.card-team-us{
	width:400px;
	height:380px;
}

.why-us-cover{
	
	background-image:
	linear-gradient(90deg, rgba(0,93,143,1) 0%, rgba(0,126,195,1) 35%, rgba(61,154,204,1) 100%);
	//url("../images/antonio-garcia-ndz_u1_tFZo-unsplash.jpg");
	background-color: #3D9ACC;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	
}

//Products Carousel----------------------------------------------->
.pro-btn{
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}

.pro-btn:hover {
	color: #fff;
	background: #3291e6;
  }


#slick {

  .slick-list {
    margin: {
      left: -15px;
      right: -15px;
    }
  }
  
  .slick-slide {
    padding-right: 15px;
    padding-left: 15px;
    
    &:focus {
      outline: none;
    }
  }
}

// bootstrap break points for helper below
$breakpoints: (
  // Small screen / phone
  'sm': 576px,
  // Medium screen / tablet
  'md': 768px,
  // Large screen / desktop
  'lg': 992px,
  // Extra large screen / wide desktop
  'xl': 1200px
);

// helper in navbar to show breakpoint size
#breakpoint-helper {
  &:after {
    color: #fff;
    text-transform: uppercase;
    content: 'XS';
    @each $size, $px in $breakpoints {
      @media (min-width: $px ) {
        content: $size;
      }
    }
  }
}  

.carousel-card-img{
	width: 100%;
	height: 200px;
}

//Customer testimonials-------------------------------------------->

.card-customer-test{
	width: 300px;
	height: 250px
 }
 
.customer-test-cover{
	background-image:
	linear-gradient(90deg, rgba(0,93,143,1) 0%, rgba(0,126,195,1) 35%, rgba(61,154,204,1) 100%);
	//url("../images/antonio-garcia-ndz_u1_tFZo-unsplash.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

 
//Enquiry form--------------------------------------------------->

.req-form{
	background-color: $color-main;
}

.req-form_header{
	color: #FFFFFF;
}

.req-form_jumbotron{
	background-color:rgb(79, 67, 50, 0.8);
	width: 1200px;
}

.req-form_main{
	width: 1000px;
}

//Contact----------------------------------------------->

.contact-address{
	color:#FFFFFF;
}

.contact-no{
	color:$color-main;
}

.contact-no_anchor{
	text-decoration: none;
	color:$color-main;
}

//For Iphone X--------------------------------------------->

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
	.card-img-top {
		width: 100%;
		height: 50vw;
		object-fit: cover;
		//border-radius: 6px;
		}
	}

//For Iphone SE---------------------------------------->

@media only screen 
    and (device-width : 320px) 
    and (device-height : 568px) 
    and (-webkit-device-pixel-ratio : 2) {
	.card-img-top {
		width: 100%;
		height: 50vw;
		object-fit: cover;
		//border-radius: 6px;
		}
		
	.card-team-us{
		width: 100%;
		height: 100%;
		border:none !important;
	}	
	
	.power-margin{
		margin-top: 40px;
	}
	
	.mobile-align{
		text-align: center;
	}
	
	.btn-margin{
		margin-left: 0 !important;
	}
	
	.brand{
		color: $color-main !important;
		margin: 0;
		font-size: 20px !important;
	}
	
	.card-display{
		display: block !important;
	}
	
	.about-why-cover{
		background-image:
		linear-gradient(90deg, rgba(0,93,143,1) 0%, rgba(0,126,195,1) 35%, rgba(61,154,204,1) 100%);
		//url("../images/antonio-garcia-ndz_u1_tFZo-unsplash.jpg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.projects-customer-cover{
		background-image:
		linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
		url("../images/antonio-garcia-ndz_u1_tFZo-unsplash.jpg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.customer-test-cover{
		background-image: none;
	}
	
	.mobile-text-bold{
		font-weight: bold;
	}
	
	//About us page
	

	#card-ic{
		right:3% !important;
	}

	.col-card_ass.override #card-ass{
		left:3% !important;
	}

	.who-we_mobile-m{
		padding-left: 10px !important;
	}
	
	.cert-img{
	width: 100% !important;
	height: auto !important;
	}

	footer .container-fluid{
		padding-left: 12px !important;
		padding-right: 0px !important;
	}
}

//

@media only screen and (max-width: 600px) {
	
	.power-margin{
		margin-top: 40px;
	}
	
	.mobile-align{
		text-align: center;
	}
	.card-img-top {
		width: 100%;
		height: 50vw;
		object-fit: cover;
		//border-radius: 6px;
		}
	.card-team-us{
		width: 100%;
		height: 100%;
		border:none !important;
	}
	
	.card-display{
		display: block !important;
	}
	
	.about-why-cover{
		background-image:
		linear-gradient(90deg, rgba(0,93,143,1) 0%, rgba(0,126,195,1) 35%, rgba(61,154,204,1) 100%);
		//url("../images/antonio-garcia-ndz_u1_tFZo-unsplash.jpg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.projects-customer-cover{
		background-image:
		linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),
		url("../images/antonio-garcia-ndz_u1_tFZo-unsplash.jpg");
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.customer-test-cover{
		background-image: none;
	}
	
	.mobile-text-bold{
		font-size: 29px;
		font-weight: bold;
		
	}
	
	//About us page
	
	#card-ic{
		//right:10% !important;
		right:0% !important;
	}

	#card-ass{
		//left:6% !important;
		left:0% !important;
	}
	
	.who-we_mobile-m{
		padding-left: 10px !important;
	}
	
	.cert-img{
	width: 100% !important;
	height: auto !important;
	}
	
	.col-card_ic{
		justify-content: center !important;
	}
	
	.col-card_ass{
		justify-content: center !important;
		
	}
	
	footer .container-fluid{
		padding-left: 12px !important;
		padding-right: 0px !important;
	}
}	


@media only screen 
and (min-width : 1224px) {
   .aboutus-card{
	border: none;
   }
   
   .projects-card{
	border: none;
   }
   
   
}

.card-display{
	display: none;
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

	.cert-img{
		width: 150px !important;
		height: 150px !important;
	}

}

//Footer-------------------->

.footer{
	
	background-color:#002B42;
	color: #ffffff;
}

.find-us-cover{
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.7)),
	url("../images/pexels-pixabay-159160.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	}
	
//--------------------------------------------About Us----------------------------------------------------------->

.aboutus-cover{
	background-image:
	linear-gradient(90deg, rgba(0,93,143,1) 0%, rgba(0,126,195,1) 35%, rgba(61,154,204,1) 100%);
	//url("../images/pexels-pixabay-356036.jpg");
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#who_we-head{
		display:flex;
		justify-content: center;
		align-items:center;
	}

.line {
  border-left: 8px solid #008CBA;
  
}

// .line2 {
//   border-left: 8px solid #005D8F;
//   height: 304px;
// }

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.who-we-are .content h2 {
	font-weight: 700;
	font-size: 42px;
	line-height: 60px;
	margin-bottom: 20px;
	text-transform: uppercase;
  }
  
  .who-we-are .content h3 {
	font-weight: 500;
	line-height: 32px;
	font-size: 24px;
  }
  
  .who-we-are .content ul {
	list-style: none;
	padding: 0;
  }
  
  .who-we-are .content ul li {
	padding: 10px 0 0 28px;
	position: relative;
  }
  
  .who-we-are .content ul i {
	left: 0;
	top: 7px;
	position: absolute;
	font-size: 20px;
	color: #1bbd36;
  }
  
  .who-we-are .content p:last-child {
	margin-bottom: 0;
  }

#businessD{
	background-image: url('../images/businessD.svg');
	//background-attachment: fixed;
	background-position: center;
}

#factory{
	background-image: url('../images/factory.svg');
	//background-attachment: fixed;
	background-position: center;
}
//-------------------------------Strengths------------->

.cover-strength{
	background: linear-gradient(90deg, rgba(0,93,143,1) 0%, rgba(0,126,195,1) 35%, rgba(61,154,204,1) 100%);
	//background-color: #005D8F;
}

.card-str{
	height: 250px;
	width: 280px;
	//background-color: #005D8F;
	background-color: rgba(245, 245, 245, 0);
	
}

.card-str img{
	height: 90px;
	width: 90px
}

#card-ic{
	 right:10%;
}

#card-ass{
	left:12%;
}

#iso_head{
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-card_ic{
	display: flex;
	justify-content: flex-end;
}

.col-card_ass{
	display: flex;
	justify-content: flex-start;
}

//Certificates------------------------------------------->

.cert-img{
	width: 300px;
	height: 400px;
	border: 2px solid #005D8F;
}

//---------------------------------------------------Products Page------------------------------------------------->

.products-cover{
	
		background: linear-gradient(90deg, rgba(0,93,143,1) 0%, rgba(0,126,195,1) 35%, rgba(61,154,204,1) 100%);
		height: 200px;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
}

.pro-img{
	width: 200px;
	height: 180px;
}

#cat_bar{
	//background-image:linear-gradient(rgba(0, 93, 143, 0.5),rgba(0, 93, 143, 0));
	// border-right: 2px solid #3D9ACC;
	
}

#cat_bar h2{
	border-bottom: 5px solid #007ec3;
	padding: 0 0 10px;
}

// #cat_bar .nav-link{
// 	color: #007ec3;
// }

// #cat_bar .nav-link:hover{
// 	color: #53C20A;
// }

#catSubName{
	border-bottom: 5px solid #007ec3;
	padding: 0 0 12px;	
}

.hover-card:hover{
	border: 2px solid #444444;
}


#enq-btn{
	text-decoration: none;
}

.table .card-header{

	background-color: #3D9ACC;
	
}

//----------------------------------------------Contact Us-----------------------------------------------

.cont-icon{
	width:40px;
	height:40px;
}

.font-14{
	font-size: 14px;
}

.selected{
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	border-radius: 50px;
	transition: 0.5s;
	color: #fff;
	background: #1977cc;
}

.selected:hover {
	background: #3291e6;
  }


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	color: #444444;
	font-size: 14px;
	background: #f1f7fd;
  }
  
  #footer .footer-top {
	padding: 60px 0 30px 0;
	background: #fff;
	box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  }
  
  #footer .footer-top .footer-contact {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h4 {
	font-size: 22px;
	margin: 0 0 30px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Raleway", sans-serif;
	color: #777777;
  }
  
  #footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: #444444;
	position: relative;
	padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #1c84e3;
	font-size: 18px;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
	color: #777777;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #1977cc;
  }
  
  #footer .footer-newsletter {
	font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
	font-size: 16px;
	font-weight: bold;
	color: #444444;
	position: relative;
	padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 50px;
	text-align: left;
	border: 1px solid #bfdcf7;
  }
  
  #footer .footer-newsletter form input[type="tel"] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #1977cc;
	color: #fff;
	transition: 0.3s;
	border-radius: 50px;
  }

  #footer .credits {
	padding-top: 5px;
	font-size: 13px;
	color: #444444;
  }
  
  #footer .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #1977cc;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
  }
  
  #footer .social-links a:hover {
	background: #1c84e3;
	color: #fff;
	text-decoration: none;
  } 

  /*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
	overflow: hidden;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
  }
  
  .gallery .gallery-item img {
	transition: all ease-in-out 0.4s;
  }
  
  .gallery .gallery-item:hover img {
	transform: scale(1.1);
  }
  



  .item-ovr{
	  position:relative;
  }

  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
  }
  
  .item-ovr:hover .overlay {
	opacity: .7;
  }
  
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }

 /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 20px 0;
	background-image: linear-gradient(90deg, rgba(0,93,143,1) 0%, rgba(0,126,195,1) 35%, rgba(61,154,204,1) 100%);
	min-height: 40px;
	margin-top: 120px;
  }
  
  @media (max-width: 992px) {
	.breadcrumbs {
	  margin-top: 63px;
	}
  }
  
  .breadcrumbs h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 0;
  }
  
  @media (max-width: 992px) {
	.breadcrumbs h2 {
	  margin: 0 0 10px 0;
	}
  }
  
  .breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
  }
  
  .breadcrumbs ol li + li {
	padding-left: 10px;
  }
  
  .breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #ffffff;
	content: "/";
  }
  
  @media (max-width: 768px) {
	.breadcrumbs .d-flex {
	  display: block !important;
	}
	.breadcrumbs ol {
	  display: block;
	}
	.breadcrumbs ol li {
	  display: inline-block;
	}
  }
   
  .card-title {
	  color: #000000 !important;
  }

  .error {
	  color: red !important;
	  font-family: "Raleway", sans-serif;
  }