
.gradient {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));

}
.cover{
	 color: #ffffff;
	 background-color:#529BFF;
 }

.about-us-cover{
	height:500px;
	color:#ffffff;
	background-image: url('../images/trip-icons-animation.gif');
	background-position: center;
	background-repeat: no-repeat;
	
}
/*.parallax{
	background-image: url('../images/cover.jpg');
	background-color:#529BFF;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}*/


.custom-box{
	background-color: #ffffff;
}

div.card{
	height: 400px;
}

img.card-img-top{
	height: 200px;
}

h5.card-title{
	font-size:36px;
}

.color-block-1{
	height:300px;
	/*background-image: linear-gradient(#529BFF,#FFFFFF);*/
	background-color: #529BFF;
}

.window{
	background-color:#ffffff;
	color:#000000;
}

.thumbnail{
	height:130px;
	width:130px;
	border-radius:510px;
}

.btn-view{
	background-color:#529BFF;
	color:#FFFFFF;
}

.btn-contact{
	background-color:#FFFFFF;
	color:#529BFF;
}

.footer-link{
	text-decoration:none;
}

a.footer-link:hover{
	color:#529BFF;
}

.footer-heading{
	color:#529BFF;
}

.video-box{
	height:400px;
	overflow: visible;
}

h2.contact-block{
	color:#529BFF
}

button.contact-block{
	color:#FFFFFF;
	background-color:#529BFF
}

.cover-contact-us{
	color:#ffffff;
	/*background-image: url('../images/contact-2.gif');*/
	background-color:#109fe1;
}

.product-card{
	width: 18rem;
}